

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: left;
    min-height: 4000px;
}

body h1 {
    padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

body ol {
    padding-left: 6vw;
    padding-right: 2vw;
}

body h2 {
    padding-left: 2vw;
    padding-right: 2vw;
}

body *:not(iframe) {
}

body iframe {
    height: 7000px;
    padding-bottom: 10vw;
}

body li {
    margin: 1vh 0px;
}
