

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: left;
    padding: 2vh 10vw;
    min-height: 3000px;
}

body iframe {
    height: 7000px;
}

body li {
    margin: 1vh 0px;
}
